<input type="number" id="angka">
                <button onclick="tambahangka()">tambah</button>
                <br>
                
                <div>Daftar Array: [<span id="number"></span>]</div>
                <script src="js.js"></script>
                <div>Jumlah: <span id="tambah">[]</span></div>